@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}
a{
  text-decoration: none;
}
/* navbar */
header nav{
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}
header nav h1{
 margin-right: auto;
 border-bottom: 3px solid var(--primary);
 ;
 
} 
header nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;

}
header nav a.active{
  background: var(--primary);
}

/* page content */
main{
  max-width: 1200px;
  margin: 40px auto;
}

/*home*/
.home{
  display: flex;
}
.first-content{
 align-items: center;
 
 top: 40%;
 left: 50%;
 position: absolute;
 transform: translate(-50%,-50%);
}
.first-content button{
  width: 200px;
  padding:15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border:2px solid #009688 ;
  background: transparent;
  color: aliceblue;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  
}
.first-content span{
  background: #009688;
  width: 0;
  height:100%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s;
}
.first-content button:hover span{
  width: 100%;

}
.first-content button:hover{
  border: none;
}
.first-content h2{
  text-align: center;
}

.read-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color:  rgba(128, 138, 35, 0.46);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.add {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add label {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.add input, textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 6px;
  width: 100%;
  font-size: 1rem;
}
.add textarea{
  height: 200px;
  resize: none;
}

.add button {
  background-color: #bc4123;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}
.add  button:hover {
  background-color:  #2b3452;
}
.add button {
  margin-right: 50px; }/* Add space to the right of the button */

.add .button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;}
/* padding-top:20px  }Position buttons at the top right */

.create-container{
  align-items: center;
  display: block;
  
}
.btn{
  margin-top: 40px;
  text-align: center;
  
}
.btn button{
  margin: 10px;
}

/* Add some responsiveness for smaller screens */
@media (max-width: 600px) {
  .read-container {
    max-width: 50%;
    border-radius: 0;
  }
}


